@font-face{
  font-family: 'colaborate';
  src: url('../fonts/colaborate/colablig-webfont.eot');
  src: url('../fonts/colaborate/colablig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/colaborate/colablig-webfont.woff') format('woff'),
       url('../fonts/colaborate/colablig-webfont.ttf') format('truetype'),
       url('../fonts/colaborate/colablig-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'arsenal';
  src: url('../fonts/arsenal/arsenal-regular-webfont.eot');
  src: url('../fonts/arsenal/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arsenal/arsenal-regular-webfont.woff') format('woff'),
       url('../fonts/arsenal/arsenal-regular-webfont.ttf') format('truetype'),
       url('../fonts/arsenal/arsenal-regular-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'hacked';
  src: url('../fonts/hacked/hacked.eot');
  src: url('../fonts/hacked/hacked.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hacked/hacked.woff') format('woff'),
       url('../fonts/hacked/hacked.ttf') format('truetype'),
       url('../fonts/hacked/hacked.svg#webfont') format('svg');
}

@font-face{
  font-family: 'opensans';
  src: url('../fonts/opensans/opensans-regular.eot');
  src: url('../fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/opensans-regular.woff') format('woff'),
       url('../fonts/opensans/opensans-regular.ttf') format('truetype'),
       url('../fonts/opensans/opensans-regular.svg#webfont') format('svg');
}

.none {
    display: none !important;
}

.mensagem {
    width: 70%;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -384px;
    padding: 10px;
    opacity: 0.9;
    color: #fff;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
}

.mensagem.sucesso {
  background: #9FEF9F;
}

.mensagem.falha {
  background: #ea6464;
}

input.error {
  border: 1px solid #B71C1C !important;
}

select.cidades {
  width: 300px !important;
  margin-bottom: -8px !important;
  display: block;
  position: relative;
}

.listCidades {
  height: 129px;
}

.btEscolherCidade {
  top: 5px;
  position: relative;
  width: 160px;
  margin-bottom: 10px;
  left: 50%;
  margin-left: -80px
}

.label {
  position: absolute;
  top: 1px;
}

/*inserido*/
.label .error {
  color: #B71C1C;
  font-size: 11px;
  position: relative;
  z-index: 999;
}

.block {
    display: block !important; 
}


.font {
    font-family: "Arsenal", Arial, sans-serif !important;
    color: #797676 !important;

}

.font2 {
    font-family: "Open Sans", Arial, sans-serif !important;
    color: #FFF !important;

}

.border {
  border: 1px solid #ccc;
}

.width100 {
  width: 100% !important;
}

#pageInicio{
  font-family: 'Arsenal';
}

#termoPage .blocoTermo {
    background: #fff;
    height: auto;
    position: relative;
    opacity: 1.0 !important;
    margin-top: -25px !important;
    color: #797676;
    text-shadow: none;
    font-family: "Arsenal", Arial, sans-serif !important;
    text-align: justify;
}

#termoPage .blocoTermo h2 {
    margin-top: 20px;
}

#termoPage .blocoTermo p {
    line-height: 27px;
    font-size: 16px;
    line-height: #887F7F;
}

#termoPage .blocoTermo .btVerProdutos {
    margin-top: 40px !important;
}

#termoPage {
    height: 110%;
    font-family: 'colaborate';
    background: url('../imgs/image13.jpg') center center no-repeat #ea6464;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: 1s;
}

.termoTexto,{
  text-align: justify;
}


#termoPage {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#termoPage .blocoTermo .termo {
    margin-top: 40px !important;
}

.btPadrao {
    background: #5CB6CD;
    color: #fff;
    border: none;
    font-weight: bold;
}


/*---------------------------------------------------------------*/
/*              MENU CSS               */
/*---------------------------------------------------------------*/
body {
  font-family: 'arsenal', Arial, Sans-serif !important;
  background:#fff;
  color: #797676;
  overflow-x: hidden !important;
}


.font {
  font-family: "arsenal", Arial, sans-serif;
}

.select2-container--default .select2-selection--single {
  border-radius: 0px !important;
  height: 35px;
  padding-top: 2px;
}

.conteudoPadrao {
  height: auto;
  font-family: 'colaborate';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: 1s;
}

.conteudoPadrao .topo {
  height: 150px !important;
  display: block;
  position: relative;
  padding-left: 6px;
  padding-right: 6px;
  background: #fff;
  color: #797676 !important;
  text-shadow: none;
}

.conteudoPadrao .topo h1 {
    font-family: "colaborate" !important;
    font-weight: normal;

}

.conteudoPadrao .topo {
    position: absolute;
    z-index: 999;
    width: 200px;
    background: #fff;
    padding: 10px;
    margin-left: -80px;
    display: none;
}

.conteudoPadrao .topo{
    margin-top: 10px;
    font-family: 'arsenal', Arial, sans-serif;
}

.conteudoPadrao .meio {
  margin-top: 0px !important; 
}

.conteudoPadrao .btVerProduto {
  background: #ea6464 !important;
  color: #fff !important;
  font-weight: normal;
  border: none;
  text-shadow: none;
}

.conteudoPadrao .btVerProduto:hover {
  color: #fff !important;
}

.conteudoPadrao .meio .texto-central big {
  font-size: 29px;
  text-shadow: 2px 2px 2px #333;
}

.conteudoPadrao .meio .texto-central h3 {
  text-shadow: 2px 2px 2px #333;
  font-size: 24px;
}

.conteudoPadrao .meio .frase {
  color: #FFF;
  font-size: 35px;
  margin-top: 20px;
  text-shadow: 1px 1px #000;
}

.conteudoPadrao .funcionaInicio {
  background: #fff;
  height: auto;
  padding: 20px;
}

.conteudoPadrao .funcionaInicio big {
  text-shadow: none;
  color: #797676;
  font-size: 35px;
}

.conteudoPadrao .funcionaInicio .blocoPasso {
  padding: 20px;
  margin: 20px 20px;
  font-size: 20px;
  color: #333;
  border: 1px solid #EAEAEA;
  text-shadow: none;
}

.conteudoPadrao .funcionaInicio .blocoPasso p {
  color: #909090;
}



.conteudoPadrao .funcionaInicio .blocoPasso .passo {
  color: #D3D3D3;
}



.conteudoPadrao .socialItensInicio {
  margin-top: 10px;
}

.conteudoPadrao .breadcrumb {
    background: #fff !important;
    border-bottom: 1px solid #f4f4f4;
}

.conteudoPadrao #produtoeinfo {
  margin-bottom: 20px;
}

.conteudoPadrao #produtoeinfo .imagensProduto .imagem {
  margin-top: 20px !important;
}

.descricaoProduto {
  margin-top: 20px;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
}

.conteudoPadrao #produtoeinfo .imagemPrincipal {
  position: relative;
  left: 50%;
  margin-left: -165px;
}

.conteudoPadrao #produtoeinfo .imagemPrincipal img {
  left: 50%;
  position: relative;
  margin-left: -39.5px;
}

#vejaMais .imagem {
  height: 137px !important;
  overflow: hidden !important;
  border: none !important;
  padding: 0;
}

#recomendados .produto {
  margin-left: 20px;
  margin-right: -5px;
}

.conteudoPadrao #produtoeinfo .imagens {
  height: 180px;
  overflow: hidden;
  margin: 10px;
}

.conteudoPadrao #produtoeinfo .imagens .img-thumbnail{
  border: none;
}

.conteudoPadrao #produtoeinfo .imagens div{
    height: 73px;
    overflow: hidden;
    padding: 0px;
    border: 1px solid #ccc !important;
    width: 116px;
    margin-top: 5px;
    margin-left: 2px;;
}

.bannersQuadrado .banner {
  margin-top: 20px;
}


.rodape {
  background: #fff;
  height: 100px !important;
  color: #909090;
  text-shadow: none;
  padding: 10px;
  margin-top: 200px;
}

/*.rodape .logo {
  position: relative;
  top: 50%;
  margin-top: -30px;
}*/
.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border-bottom: 1px solid #ea6464;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #ea6464;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;''
}


/*--------------------------*/
/*  NOVIDADES E OUTRAS    */
/*--------------------------*/


/* Page Header */

ul.thumbnails { 
    margin-bottom: 0px;
    overflow: hidden;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}






/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ea6464; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ea6464; color: #FFFFFF; }

/*---------------------------------------*/
/*      social icons         */
/*---------------------------------------*/



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons mobile */
.socialMobile a.icoRss:hover {
  background-color: #F56505;
}
.socialMobile a.icoFacebook:hover {
  background-color:#3B5998;
}
.socialMobile a.icoTwitter:hover {
  background-color:#33ccff;
}
.socialMobile a.icoGoogle:hover {
  background-color:#BD3518;
}
.socialMobile a.icoVimeo:hover {
  background-color:#0590B8;
}
.socialMobile a.icoInstagram:hover {
  background-color:#501C1C;
}

.rodape .socialMobile a.icoRss {
  background-color: #F56505;
}
.rodape .socialMobile a.icoFacebook{
  background-color:#3B5998;
}
.rodape .socialMobile a.icoTwitter {
  background-color:#33ccff;
}
.rodape .socialMobile a.icoGoogle {
  background-color:#BD3518;
}
.rodape .socialMobile a.icoVimeo {
  background-color:#0590B8;
}
.rodape .socialMobile a.icoInstagram{
  background-color:#501C1C;
}

.socialMobile a.icoRss:hover i, .socialMobile a.icoFacebook:hover i, .socialMobile a.icoTwitter:hover i,
.socialMobile a.icoGoogle:hover i, .socialMobile a.icoVimeo:hover i, .socialMobile a.icoInstagram:hover i {
  color:#fff;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoInstagram:hover {
  background-color:#501C1C;
}

.rodape .social-network a.icoRss {
  background-color: #F56505;
}
.rodape .social-network a.icoFacebook{
  background-color:#3B5998;
}
.rodape .social-network a.icoTwitter {
  background-color:#33ccff;
}
.rodape .social-network a.icoGoogle {
  background-color:#BD3518;
}
.rodape .social-network a.icoVimeo {
  background-color:#0590B8;
}
.rodape .social-network a.icoInstagram{
  background-color:#501C1C;
}



.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoInstagram:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
#categorias {
  padding-top: 43px;
}
#pagination {
  padding-left: 40px;
}
#buscador {
  padding-top: 90px;
}
.centralizado {
    margin: 0 auto !important;
    float: none;
}
#subcat {
  padding-top: 20px;
}

/*******************************
*   DEMO PRODUCT       *
*******************************/

/*********************************************
          Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
            Theme Elements
*********************************************/

.gold{
  color: #FFBF00;
}

/*********************************************
          PRODUCTS
*********************************************/

.product{
  border: 1px solid #dddddd;
  height: 321px;
}

.product>img{
  max-width: 230px;
}

.product-rating{
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title{
  font-size: 20px;
}

.product-desc{
  font-size: 14px;
}

.product-price{
  font-size: 22px;
}

.product-stock{
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info{
    margin-top: 50px;
}

/*********************************************
          VIEW
*********************************************/

.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}

.container-fluid{
  max-width: 1140px;
  margin: 0 auto;
}

.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

/*********************************************
        ITEM 
*********************************************/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
  max-height: 155px;
}
.aceitetroca {
  margin-top: 20px;
}

#segunda-parte{
  margin-top: 20px;
}
#pageInicio .rodape .logo, 
#pageProduto .rodape .logo, #pageCadastro .rodape .logo{
    left: 50% !important;
    margin-left: -214.203px;
    top: 50px !important;
}

#pageInicio .cidade {
  margin-top: 47px;
}

#pageInicio .cidade h3 {
  top: -3px !important;
  position: relative;
  color: #777 !important;
}

.infodoproduto {
    margin-top: -34px;
    float: left;
}

.infodoproduto .proposta {
    margin-top: 6px !important;
}

.infodoproduto button {
    border: none;
    margin: 5px;
}

.infodoproduto .naoEnviar {
    background: #ea6464;
    border: none;
}

.infodoproduto .btLancarProposta, .infodoproduto .proposta {
  margin-left: 22px;
}

/*MENU USUÁRIO*/
.menuUsuario, .formUsuarioAmbiente {
    border-bottom: none;
    margin-top: 50px;
}

.formUsuarioAmbiente {
    border-top: 1px solid #F0ECEC; 
}

.formUsuarioAmbiente .btPadrao {
    padding: 10px;
    margin-top: 10px !important;
    display: block;
    width: 97px;
}

.formUsuarioAmbiente .btPadrao:hover {
    color: #fff;
}

.formUsuarioAmbiente .adicionarProduto {
    font-weight: normal;
    margin-top: 10px !important;
    display: block;
    margin-left: 15px;
}

.formUsuarioAmbiente .checkboxUsuarioAmbiente {
    left: 20px;
    top: 0px;
    float: left;
}

.formUsuarioAmbiente .btPublicarProduto, .formUsuarioAmbiente .btViewProduto {
    margin-top: 30px;
}

.formUsuarioAmbiente .btPublicarProduto:hover {
    background: #FEF9F9;
    border-color: #ccc;
    color: #000;
}



.formUsuarioAmbiente .form-horizontal, .formUsuarioAmbiente .trocas {
    margin: 20px 0 0 0;
}

.menuUsuario a {
    margin-top: 5px !important;
    border: none;
    float: left !important;
    border-bottom: 1px solid #F0ECEC;
    font-size: 15px;
}

.menuUsuario .list-group .active {
    background: #ea6464;
    border-color: #ea6464;
}

.formUsuarioAmbiente .trocas .troca, .conteudoPadrao .trocas .troca {
    float: left !important;
    height: 270px !important;
    overflow: hidden;
}

.formUsuarioAmbiente .trocas .troca a span {
    width: 196px;
    overflow: hidden !important;
    margin-top: 11px;
    margin-left: 5px;
    display: block;
    font-size: 14px;
}

.formUsuarioAmbiente h4 {
    font-family: 'arsenal', arial, sans-serif;
}

.formUsuarioAmbiente .trocas .troca small {
    color: #9A9595;
    margin-left: 5px;
    margin-top: -5px;
    display: block;

}
.sad {
    max-width:64px;
    max-height:78px;
    width: auto;
    height: auto;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #ea6464;
  border-radius: 5px;
}

#tumbs {
  max-width:230px;
  max-height: 165px;

}

#tumbsBig {
  max-height: 300px;
}

#tumbsSmall {
  max-height: 80px;
  max-width: 126px;
}


.pageMensagem .infodoproduto {
    margin: -10px 0 25px 20px !important;
}

.pageMensagem form {
    margin-top: 20px;
}

.pageMensagem form .btn-default {
    margin-top: 20px;
    margin-right: 30px;
}

.pageMensagem form .btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.pageMensagem .mensagem a {
    margin-left: 5px !important;
}

.pageMensagem .mensagem p {
    margin-left: 10px !important;
    margin-top: 3px;
}

#sidebar-menu .main-menu a {
    display: block;
  font-size: 16px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
  color: #11427D;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 400;
}

#static-content{
  border-left: 1px solid #DDD;
}
.menuLateral{
  margin-top: 20px;
}
span.tags 
{
    background: #0D9200;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.notificPropos {
  position: relative !important;
    top: 2px !important;
    left: 5px !important;
    color: #0D9200 !important;
}

/*********************************/
/*   LOGIN MENU LATERAL INDEX    */
/*********************************/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.9);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 100%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    display: block;
    width: 100%;
    text-align: center;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.rodape .menuRodape ul {
  left: 50%;
  margin-left: -275px;
  width: 550px;
}

.rodape .menuRodape ul li{
  float: left;
  margin: 10px;
}

.rodape .menuRodape small{
  position: relative;
    left: 50%;
    margin-left: -215.914px;
}
.rodape .social-network {
  position: relative;
  left: 50%;
  margin-left: -124.875px !important;
  margin-bottom: 5px;
}

.logo {
  float: left;
  margin-left: 11;
}
.rodapeSocial{
  margin-bottom: 13px;
}

.rodape .rodapeMobile ul {
  margin-bottom: 5px;
}

.rodape .rodapeMobile ul li{
  float: left;
  margin: 10px;
}
.rodape .socialMobile {

  margin-bottom: 5px;
}
/*.mais {
  position: absolute;
  right: 50px;
  top: -2px;
}*/

.prop {
  margin-top: 132px;

}

#page404 {
  height: auto;
  font-family: 'colaborate';
    background: url('../imgs/404.jpg') right no-repeat #000;

  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: 1s;
}

#page404 .btErro {
    background: #FFF;
    padding: 8px;
    text-shadow: none;
}

.houston{
  font-family: 'hacked';
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  text-align: right;
}

.houston h2 {
  font-size: 80px;
}
.houston h3 {
  font-size: 65px;
  border-bottom: 2px solid;
}

.explicativo {
  color: #fff;
  font-family: 'hacked';
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  text-align: right;
}
.explicativo h3{
  font-size: 27px;
  font-style: bold;
}
#conteudo404{
  margin-top: 80px;
}

#page500 {
  height: auto;
  font-family: 'colaborate';
    background: url('../imgs/500.png') center no-repeat #000;

  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: 1s;
}
.err500{
  font-family: 'colaborate';
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  text-align: left;
  border-bottom: 2px solid;
}

.err500 h2 {
  font-size: 80px;
}
.err500 h3 {
  font-size: 50px;
}

.explicativo500 {
  color: #fff;
  font-family: 'colaborate';
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.explicativo500 h3{
  font-size: 27px;
  font-style: bold;
}
#conteudo500{
  margin-top: 20px;
}
#conteudo500pc{
  margin-top: 225px;
}
.explicativo .btn-default a:hover{
  color: #fff;

}
.sobre{
  text-align: justify;
}
.sobrelb{
  margin-left: 15px;
  font-size: 16px;
}
.contato, .ajuda{
  margin-left: -15px;
}
hr {
    max-width: 50px;
    border-color: #ea6464;
    border-width: 3px;
}
.quadrado{
    color: #ea6464 ;
    border: 1px solid #ea6464;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    margin: 0 auto;
    overflow: hidden;
    width: 75px;
    text-align: center;
}
.quadradoSub{
  top: 10px;
  position: relative;
}
.quadrados, #curiosidades h5, .sobre h1, .sobre h4{
  margin-top: 40px;
}
#curiosidades, .sobre{
  font-family: 'opensans';
  text-decoration: none;
}
.formContato{
  margin-left: 16px;
}
.page-header h2{
  color: #ea6464;
}
.wishlist{
  margin-left: -20px;
}
.areaTroca{
  margin-top: 40px;
}
.productTrocas{
  margin-top: 12px;
}
hr.light{
  border-color: #fff;
}
#fbShare{
  background-color:#3B5998;
}
#ttShare{
  background-color:#33ccff;
}
#gpShare{
  background-color:#BD3518;
}


.formUsuario .label .error {
  display: block;
  margin-top: -1px !important;
  font-size: 10px;
}

.listagemProduto .produto {
  height: 270px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 9px;
  float: left;
  
  border: 1px solid #ddd;
  border-radius: 4px;
}

.listagemProduto .thumbnail {
  border: none !important;
}

.listagemProduto .thumbnail a img {
  height: 135px !important;
}

.formPublicarProduto {
  margin-left: -5px;
  height: 80px;
  overflow: hidden;
  margin-top: 0px;
}

/** Formulário de mais informações de propostas */

.conteudoPadrao .formMaisInfoProposta, .conteudoPadrao .infoProposta {
  padding: 23px !important;
}

.conteudoPadrao .formMaisInfoProposta .form-group label {
  margin-left: 15px !important;
}