@font-face{ 
	font-family: 'colaborate';
	src: url('../fonts/colaborate/colablig-webfont.eot');
	src: url('../fonts/colaborate/colablig-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colaborate/colablig-webfont.woff') format('woff'),
	     url('../fonts/colaborate/colablig-webfont.ttf') format('truetype'),
	     url('../fonts/colaborate/colablig-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'arsenal';
	src: url('../fonts/arsenal/arsenal-regular-webfont.eot');
	src: url('../fonts/arsenal/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/arsenal/arsenal-regular-webfont.woff') format('woff'),
	     url('../fonts/arsenal/arsenal-regular-webfont.ttf') format('truetype'),
	     url('../fonts/arsenal/arsenal-regular-webfont.svg#webfont') format('svg');
}

.none {
    display: none !important;
}

.mensagem {
    width: 70%;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -384px;
    padding: 10px;
    opacity: 0.9;
    color: #fff;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
}

.mensagem.sucesso {
  background: #9FEF9F;
}

.mensagem.falha {
  background: #ea6464;
}

input.error {
  border: 1px solid #B71C1C !important;
}

.label {
  position: absolute;
  top: 1px;
}

/*inserido*/
.label .error {
  color: #B71C1C;
  font-size: 11px;
}

.block {
    display: block !important; 
}

.font {
    font-family: "arsenal", Arial, sans-serif !important;
    color: #797676 !important;
}


#indexPage {
  height: auto;
  font-family: 'colaborate';
    background: url('../imgs/image13.jpg') left no-repeat #ea6464;

  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: 1s;
}

#indexPage {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#sobrePage {
  height: auto;
  font-family: 'colaborate';
  background-color: #fff;
}

#sobrePage {
  color: #000;
  text-align: justify;
  text-shadow: none !important;
}

#sobrePage .conteudoPadrao .site-wrapper-inner {
  vertical-align: top !important;
}

#sobrePage .blocoSobre, #termoPage .blocoTermo {
    background: #fff;
    height: auto;
    position: relative;
    opacity: 1.0 !important;
    margin-top: -25px !important;
    color: #797676;
    text-shadow: none;
    font-family: "Arsenal", Arial, sans-serif;
    text-align: justify;
}

#sobrePage .blocoSobre h2, #termoPage .blocoTermo h2 {
    margin-top: 20px;
}

#sobrePage .blocoSobre, #termoPage .blocoTermo p {
    line-height: 27px;
    font-size: 16px;
    line-height: #887F7F;
}

#sobrePage .blocoSobre .btVerProdutos, #termoPage .blocoTermo .btVerProdutos {
    margin-top: 40px !important;
}

#termoPage {
    height: 110%;
    font-family: 'colaborate';
    background: url('../imgs/image13.jpg') center center no-repeat #ea6464;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: 1s;
}

.termoTexto,{
	text-align: justify;
}


#termoPage {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#termoPage .blocoTermo .termo {
    margin-top: 40px !important;
}

.btPadrao {
    background: #5CB6CD;
    color: #fff;
    border: none;
    font-weight: bold;
}


/*---------------------------------------------------------------*/
/*							MENU CSS							 */
/*---------------------------------------------------------------*/
body {
  font-family: 'arsenal', Arial, Sans-serif !important;
  background:#fff;
  color: #797676;
  overflow-x: hidden !important;
}


.font {
	font-family: "arsenal", Arial, sans-serif;
}

.logo {
	font-family: "colaborate";
}

.logo .navbar-brand {
	margin-top: -10px;
	font-size: 22px;
}

.conteudoPadrao {
	height: auto;
	font-family: 'colaborate';
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden !important;
	transition: 1s;
}

.conteudoPadrao .topo {
	height: 150px !important;
	display: block;
    position: relative;
}

.conteudoPadrao .topo .loginMenu a {
    padding-left: 6px;
    padding-right: 6px;
}

.conteudoPadrao .topo #loginCurrent a {
    background: #fff;
    color: #797676 !important;
    text-shadow: none;
}

.conteudoPadrao .topo h1 {
    font-family: "colaborate" !important;
    font-weight: normal;

}

.conteudoPadrao .topo .login {
    position: absolute;
    z-index: 999;
    width: 200px;
    background: #fff;
    padding: 10px;
    margin-left: -80px;
    display: none;
}

.conteudoPadrao .topo .login input {
    margin-top: 10px;
    font-family: 'arsenal', Arial, sans-serif;
}

.conteudoPadrao .meio {
	margin-top: 0px !important; 
}

.conteudoPadrao .btVerProduto {
	background: #ea6464 !important;
	color: #fff !important;
	font-weight: normal;
	border: none;
	text-shadow: none;
}

.conteudoPadrao .btVerProduto:hover {
	color: #fff !important;
}

.conteudoPadrao .meio .texto-central big {
	font-size: 29px;
	text-shadow: 2px 2px 2px #333;
}

.conteudoPadrao .meio .texto-central h3 {
	text-shadow: 2px 2px 2px #333;
	font-size: 24px;
}

.conteudoPadrao .meio .frase {
	color: #FFF;
	font-size: 35px;
	margin-top: 20px;
	text-shadow: 1px 1px #000;
}

.conteudoPadrao .funcionaInicio {
	background: #fff;
	height: auto;
	padding: 20px;
}

.conteudoPadrao .funcionaInicio big {
	text-shadow: none;
	color: #797676;
	font-size: 35px;
}

.conteudoPadrao .funcionaInicio .blocoPasso {
	padding: 20px;
	margin: 20px 20px;
	font-size: 20px;
	color: #333;
	border: 1px solid #EAEAEA;
	text-shadow: none;
}

.conteudoPadrao .funcionaInicio .blocoPasso p {
	color: #909090;
}



.conteudoPadrao .funcionaInicio .blocoPasso .passo {
	color: #D3D3D3;
}


.conteudoPadrao .socialItens {
	
}

.conteudoPadrao .socialItensInicio {
	margin-top: 10px;
}

.conteudoPadrao .breadcrumb {
    background: #fff !important;
    border-bottom: 1px solid #f4f4f4;
}

.rodape {
	background: #fff;
	height: 100px !important;
	color: #909090;
	text-shadow: none;
	padding: 10px;
}

.rodape .logo {
	position: relative;
	top: 50%;
	margin-top: -30px;
}



.navbar-header h1 {
	float: left;
	margin: 2px;
}

.navbar-header h1 a{
	font-size: 30px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.navbar-default {
    background-color: #fff !important;
    border-bottom: 1px solid #ea6464 !important;
    padding: 5px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-size: 18px;
    font-family: 'arsenal', Arial, sans-serif;
    margin-top: 5px;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #ea6464;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
/*--------------------------------*/
/*			login				  */
/*--------------------------------*/
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}
/*=== 8. Custom Checkbox & Radio ===*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  padding-top: 1px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 0px solid #aaa;
  background: #f0f0f0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  position: absolute;
  color: #555555;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #8c8c8c;
  background-color: #878787;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
  color: #555555;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: #8c8c8c;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted #f6f6f6;
}
/* hover style just for information */
label:hover:before {
  border: 1px solid #f6f6f6 !important;
}
/*=== Customization ===*/
/* radio aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  border-radius: 3px;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  border-radius: 35px;
}
/* selected mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  top: 0;
  left: 2px;
  font-size: 14px;
}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\2022';
  top: 0;
  left: 3px;
  font-size: 30px;
  line-height: 25px;
}


/* Menu página incial */
.masthead-nav li a {
	font-weight: normal !important;
	font-size: 19px !important;
	color: #FFF;
}

/*--------------------------*/
/*	NOVIDADES E OUTRAS 		*/
/*--------------------------*/


/* Page Header */

ul.thumbnails { 
    margin-bottom: 0px;
    overflow: hidden;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

/*---------------------------------------*/
/*			social icons				 */
/*---------------------------------------*/



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoInstagram:hover {
	background-color:#501C1C;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoInstagram:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
#categorias {
  padding-top: 43px;
}
#pagination {
  padding-left: 40px;
}
#buscador {
  padding-top: 90px;
}
.centralizado {
    margin: 0 auto !important;
    float: none;
}
#subcat {
	padding-top: 20px;
}

/*******************************
*		DEMO PRODUCT		   *
*******************************/

/*********************************************
    			Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

/*********************************************
				ITEM 
*********************************************/

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item > img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-left {
	padding-right: 50px;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
	max-height: 155px;
}
.aceitetroca {
	margin-top: 20px;
}

#segunda-parte{
	margin-top: 20px;
}

#pageInicio .rodape .logo, 
#pageProduto .rodape .logo, #pageCadastro .rodape .logo{
    left: 50% !important;
    margin-left: -214.203px;
    top: 50px !important;
}

.infodoproduto {
    margin-top: -34px;
    float: left;
}

.infodoproduto .proposta {
    margin-top: 6px !important;
}

.infodoproduto button {
    border: none;
    margin: 5px;
}

.infodoproduto .naoEnviar {
    background: #ea6464;
    border: none;
}

/*MENU USUÁRIO*/
.menuUsuario, .formUsuarioAmbiente {
    border-bottom: none;
    margin-top: 50px;
}

.formUsuarioAmbiente {
    border-top: 1px solid #F0ECEC; 
}

.formUsuarioAmbiente .form-horizontal.formUsuario .form-group .form-control {
  padding: 18px !important;
}

.formUsuarioAmbiente .btPadrao {
    padding: 10px;
    margin-top: 10px !important;
    display: block;
    width: 97px;
}

.formUsuarioAmbiente .btPadrao:hover {
    color: #fff;
}

.formUsuarioAmbiente .adicionarProduto {
    font-weight: normal;
    margin-top: 10px !important;
    display: block;
    margin-left: 15px;
}

.formUsuarioAmbiente .checkboxUsuarioAmbiente {
    left: 20px;
    top: 0px;
    float: left;
}

.formUsuarioAmbiente .btPublicarProduto {
    margin-top: 30px;
}

.formUsuarioAmbiente .btPublicarProduto:hover {
    background: #FEF9F9;
    border-color: #ccc;
    color: #000;
}



.formUsuarioAmbiente .form-horizontal, .formUsuarioAmbiente .trocas {
    margin: 20px 0 0 0;
}

.menuUsuario ul a li {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #F0ECEC;
}

.menuUsuario .list-group .active {
    background: #ea6464;
    border-color: #ea6464;
}

.formUsuarioAmbiente .trocas .troca {
    float: left;
    margin: 20px !important;
}

.formUsuarioAmbiente .trocas .troca a h4 {
    text-align: center !important;
}

.formUsuarioAmbiente h4 {
    font-family: 'arsenal', arial, sans-serif;
}

.formUsuarioAmbiente .trocas .troca small {
    color: #9A9595;
    margin-left: 5px;
    margin-top: -5px;
    display: block;

}
.sad {
    max-width:64px;
    max-height:78px;
    width: auto;
    height: auto;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #ea6464;
  border-radius: 5px;
}

#tumbs {
	max-width:360px;
    max-height:162px;

}

#tumbsBig {
	max-height: 300px;
}

#tumbsSmall {
	max-height: 80px;
	max-width: 126px;
}


.pageMensagem .infodoproduto {
    margin: -10px 0 25px 20px !important;
}

.pageMensagem form {
    margin-top: 20px;
}

.pageMensagem form .btn-default {
    margin-top: 20px;
    margin-right: 30px;
}

.pageMensagem form .btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.pageMensagem .mensagem a {
    margin-left: 5px !important;
}

.pageMensagem .mensagem p {
    margin-left: 10px !important;
    margin-top: 3px;
}

#sidebar-menu .main-menu a {
    display: block;
	font-size: 16px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
	color: #11427D;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 17px;
	font-weight: 400;
}

#static-content{
	border-left: 1px solid #DDD;
}
.menuLateral{
	margin-top: 20px;
}
span.tags 
{
    background: #0D9200;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.notificPropos {
	position: relative !important;
    top: 2px !important;
    left: 5px !important;
    color: #0D9200 !important;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(186,186,186,.8);
}
#login-dp .help-block{
    font-size:8px;    
}
#login-dp .bottom{
    background-color:rgba(186,186,886,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 100%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc; 
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.formCadastro input["text"] {
  padding: 18px 16px !important;
}

.formUsuario .label .error {
  display: block;
  margin-top: -1px !important;
  font-size: 10px;
}
