input.error, textarea.error {
  border: 1px solid #B71C1C !important;
}

.label {
  position: absolute;
  top: 1px;
}

/*inserido*/
.label .error {
  color: #B71C1C;
  font-size: 11px;
  position: relative;
  z-index: 999;
}
