@extends('layout.app_institucional')

    @section('conteudo')
        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h1 class="row-centered">Política de Privacidade</h1>

                        <h2 class="row-centered">Aqui você encontra informações adicionais ao Termo de Uso</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </section>



        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">

                    <p>A exatidão dos dados fornecidos no momento do cadastro pelo Usuário é de total responsabilidade do mesmo, caso o TroqueLá apure informações incorretas, o site reserva-se no direito de negar acesso total ou parcial ao site até que as informações sejam atualizadas de forma correta.</p>
                    <p>Os dados pessoais solicitados no momento do cadastro no site, tais como nome, telefone, email e etc., servem para gestão, navegação e consulta do próprio site. O Usuário reconhece e concorda expressamente que a base de dados poderá ser total ou parcialmente cedida ou transferida a terceiros, desde que respeitada a finalidade única e exclusiva de dar continuidade à atividade prestada pelo TroqueLá ou se existir uma obrigatoriedade legal para tal fim.</p>
                    <p>Para fins comunicativos, o TroqueLá reserva-se no direito de enviar e-mail aos Usuários. Caso não deseje receber tais comunicados e informações, você poderá entrar em contato direto conosco na página Contato.</p>
                    <hr class="light">
                    <p>O TroqueLá poderá entrar em contato, a qualquer momento, com os Usuários para fins de:</p>
                    <li>Feedback de serviços prestados;</li>
                    <li>Informaçẽos adicionais a respeito do cadastro, quando necessário;</li>
                    <li>No caso de alguma promoção ou concurso.</li>
                    <li>As informações de Bairro, Cidade, Estado e Nome sempre estarão visíveis para outros caso o Usuário faça um anúncio no site. Informações de contato como e-mail e telefone fica a critério do Usuário a sua divulgação ou não no momento do cadastro do produto.</li>
                    <hr class="light">
                    <p>No caso do Usuário enviar dados de um terceiro no momento do cadastro ou realização de troca, ele será o único e exclusivo responsável por tal ato, deixando o TroqueLá isento de qualquer culpa ou ação penal.</p>
                    <p>As informações cadastrais são utilizadas para a coleta de dados estatísticos, bem como para identificação do perfil de Usuário e personalização do serviço prestado.</p>
                    <p>O cadastro do Usuário no site implica na sua autorização expressa em favor do TroqueLá para o envio de informação comercial e/ou publicitária a seu domicílio, endereço de e-mail ou telefone celular cadastrado. O envio de informação pode ocorrer tanto pelo TroqueLá quanto por parceiros. Caso o Usuário manifeste o desejo de revogar tal autorização, poderá fazê-lo entrando em contato conosco.</p>
                    <p>O TroqueLá garante a confidencialidade dos dados de caráter pessoal. Porém, poderá revelar às autoridades públicas competentes os dados pessoais ou qualquer outra informação que estiver em seu poder, ou seja, acessível através de seus sistemas mediante solicitação que esteja em conformidade com as disposições legais e regulamentares aplicáveis ao caso. Os dados de caráter pessoal poderão ser conservados no Banco de Dados do TroqueLá, mesmo no caso de finalização das relações formalizadas através do site, exclusivamente para os fins indicados anteriormente e, em todo caso, durante os prazos legalmente estabelecidos, a disposição de autoridades judiciais.</p>
                    <p>O Usuário aceita o uso de cookies e consente com o tratamento das informações que estão especificadas neste presente documento. O site utiliza terceiras empresas para recolher informações, incluindo o uso de Cookies, como a Google, assim como outras ferramentas para fins promocionais. Do mesmo modo, os cookies poderão ser utilizados com a finalidade de facilitar ao máximo a navegação do Usuário pelo SITE, sem que tais Cookies proporcionem referências que permitam deduzir dados pessoais do Usuário nem dados do disco rígido de seu computador. Os cookies instalados se apagarão automaticamente uma vez finalizada sua navegação, exceto aqueles que, por motivos estritamente técnicos, devam ser mantidos instalados no computador dos Usuários.</p>
                    <p>O Usuário, caso queira, pode configurar seu navegador para que notifique e cancele a instalação dos Cookies enviados pelo site, sem que isso prejudique seu acesso ao nosso conteúdo. Seu endereço IP e outros dados oriundos da conexão com o seu computador são utilizados para personalizar o serviço e compreender como os Usuários utilizam o site.</p>



                    </div>
                </div>
            </div>
        </section>

        <aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Siga-nos nas redes sociais:</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="socialItens socialItensInicio">
                                <ul class="social-network social-circle">
                                    <li>
                                        <a href="#" class="icoFacebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoTwitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoGoogle" title="Google +">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoInstagram" title="Intagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

    @stop